-e .
# Triggers WEBCORE-3776
chameleon==2.13.post1
# Remove constraint once off python 3.6.0 on xenial
coverage<5
mock
pre-commit
pytest
# Triggers WEBCORE-3023
setuptools>=18.5
six
# A circular dependency
sphinx==1.3.6
